/*

My Custom CSS
=============

Author:  Nihar Khetan

*/
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
}

/* --------------------------------------
   Layout
   -------------------------------------- */
#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

.tile-notification-text {
	margin-top: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #333;
	color: #eee;
	font-size: 11px;
	height: 60px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
.glyphicon-tiles {
	font-size: 7em;
	color: #5bc0de;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
/* #myCarousel{ */
/* 	margin-top: 60px; */
/* } */

/* .carousel-caption{ */
/* 	font-size: 24px; */
/* } */

/* .carousel-caption h4{ */
/* 	font-size: 32px; */
/* } */

/* #myCarousel .item{ */
/* 	height:400px; */
/* } */

/* #slide1{ */
/* 	background: url('../../images/carousel_medium_01.jpg') top center no-repeat;  */
/* } */
/* #slide2{ */
/* 	background: url('../../images/carousel_medium_02.jpg') top center no-repeat;  */
/* } */
/* #slide3{ */
/* 	background: url('../../images/carousel_medium_03.jpg') top center no-repeat;  */
/* } */
.carousel-caption {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px,
		rgba(0, 0, 0, 0.5) 100%);
	background-repeat: repeat-x;
	left: auto;
	right: 0;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body>.container {
	padding: 60px 15px 0;
}

body {
	margin-bottom: 60px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media ( max-width : 480px) { /* #myCarousel .item{ */
	/* 	height:310; */
	/* } */

	/* #slide1{ */
	/* 	background: url('../../images/carousel_small_01.jpg') top center no-repeat;  */
	/* } */
	/* #slide2{ */
	/* 	background: url('../../images/carousel_small_02.jpg') top center no-repeat;  */
	/* } */
	/* #slide3{ */
	/* 	background: url('../../images/carousel_small_03.jpg') top center no-repeat;  */
	/* } */
	/* .carousel-caption{ */
	/* 	font-size: 16px; */
	/* } */

	/* .carousel-caption h4{ */
	/* 	font-size: 22px; */
	/* } */
}

/* Landscape phone to portrait tablet */
@media ( max-width : 768px) { /* 	#myCarousel .item{ */
	/* 	height:400px; */
	/* } */

	/* #slide1{ */
	/* 	background: url('../../images/carousel_medium_01.jpg') top center no-repeat;  */
	/* } */
	/* #slide2{ */
	/* 	background: url('../../images/carousel_medium_02.jpg') top center no-repeat;  */
	/* } */
	/* #slide3{ */
	/* 	background: url('../../images/carousel_medium_03.jpg') top center no-repeat;  */
	/* } */
}

/* Large desktop */
@media ( min-width : 1200px) { /* 	#myCarousel .item{ */
	/* 	height:500px; */
	/* } */

	/* #slide1{ */
	/* 	background: url('../../images/carousel_large_01.jpg') top center no-repeat;  */
	/* } */
	/* #slide2{ */
	/* 	background: url('../../images/carousel_large_02.jpg') top center no-repeat;  */
	/* } */
	/* #slide3{ */
	/* 	background: url('../../images/carousel_large_03.jpg') top center no-repeat;  */
	/* } */
}

/* Post box */
.white {
	color: white;
}

.commentBox .btn-lg {
	font-size: 38px;
	line-height: 1.33;
	border-radius: 6px;
}

.box>.icon {
	text-align: center;
	position: relative;
}

.box>.icon>.image {
	position: relative;
	z-index: 2;
	margin: auto;
	width: 88px;
	height: 88px;
	border: 7px solid white;
	line-height: 88px;
	border-radius: 50%;
	background: #2E81A0;
	vertical-align: middle;
	padding-top: 16px;
}

.box>.icon:hover>.image {
	border: 4px solid black;
}

.box>.icon>.image>i {
	font-size: 40px !important;
	color: #fff !important;
}

.box>.icon:hover>.image>i {
	color: white !important;
}

.box>.icon>.info {
	margin-top: -24px;
	background: rgba(0, 0, 0, 0.04);
	border: 1px solid #e0e0e0;
	padding: 15px 0 10px 0;
}

.box>.icon>.info>h3.title {
	color: #222;
	font-weight: 500;
}

.box>.icon>.info>p {
	color: #666;
	line-height: 1.5em;
	margin: 20px;
}

.box>.icon:hover>.info>h3.title,.box>.icon:hover>.info>p,.box>.icon:hover>.info>.more>a
	{
	color: #222;
}

.more {
	padding-top: 16px;
}

.box>.icon>.info>.more a {
	color: #222;
	line-height: 12px;
	text-transform: uppercase;
	text-decoration: none;
}

.box>.icon:hover>.info>.more>a {
	color: #000;
	padding: 6px 8px;
	border-bottom: 4px solid black;
}

.box .space {
	height: 30px;
}

.customPadComment {
	padding-top: 17px;
}

/*Styles for Timeline*/
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #CCCCCC;
	left: 25px;
	margin-left: -1.5px;
}

.timeline>li {
	margin-bottom: 20px;
	position: relative;
}

.timeline>li:before,.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li:before,.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li>.timeline-panel {
	width: calc(100% -       55px);
	float: right;
	border: 1px solid #d4d4d4;
	border-radius: 22px;
	padding: 10px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	background: #CDEFFF;
}

.timeline>li>.timeline-panel:before {
	position: absolute;
	top: 26px;
	left: -15px;
	display: inline-block;
}

.timeline>li>.timeline-panel:after {
	position: absolute;
	top: 27px;
	left: -14px;
	display: inline-block;
}

.timeline>li>.timeline-badge {
	color: #FFFF99;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 13px;
	background-color: #666666;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	right: -15px;
	right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #006699 !important;
}

.timeline-badge.up {
	background-color: #E86565 !important;
}

.timeline-badge.down {
	background-color: #CC3333 !important;
}

.timeline-badge.neutral {
	background-color: #999999 !important;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body>p,.timeline-body>ul {
	margin-bottom: 0;
}

.timeline-body>p+p {
	margin-top: 5px;
}

/*Notification Styles*/
.message-item {
	margin-bottom: 25px;
	margin-left: 40px;
	position: relative;
}

.message-item .message-inner {
	background: #F9F9F9;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 10px;
	position: relative;
}

.message-item .message-inner:before {
	border-right: 10px solid #ddd;
	border-style: solid;
	border-width: 10px;
	color: rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 0;
	position: absolute;
	left: -20px;
	top: 6px;
	width: 0;
}

.message-item .message-inner:after {
	border-right: 10px solid #F9F9F9;
	border-style: solid;
	border-width: 10px;
	color: rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 0;
	position: absolute;
	left: -18px;
	top: 6px;
	width: 0;
}

.message-item:before {
	background: #fff;
	border-radius: 2px;
	bottom: -30px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	content: "";
	height: 100%;
	left: -30px;
	position: absolute;
	width: 3px;
}

.message-item:after {
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	content: "";
	height: 15px;
	left: -36px;
	position: absolute;
	top: 10px;
	width: 15px;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.message-item .message-head {
	border-bottom: 1px solid #eee;
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.message-item .message-head .avatar {
	margin-right: 20px;
}

.message-item .message-head .user-detail {
	overflow: hidden;
}

.message-item .message-head .user-detail h5 {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.message-item .message-head .post-meta {
	float: left;
	padding: 0 15px 0 0;
}

.message-item .message-head .post-meta>div {
	color: #333;
	font-weight: bold;
	text-align: right;
}

.post-meta>div {
	color: #777;
	font-size: 12px;
	line-height: 22px;
}

.message-item .message-head .post-meta>div {
	color: #333;
	font-weight: bold;
	text-align: right;
}

.post-meta>div {
	color: #777;
	font-size: 12px;
	line-height: 22px;
}

.qa-message-list img {
	min-height: 40px;
	max-height: 40px;
}

.qa-message-content {
	background: rgb(186, 210, 253);
	padding: 10px;
	border-radius: 7px;
}

.qa-message-list .like {
	color: rgb(90, 161, 55);
}

.qa-message-list .dislike {
	color: rgb(219, 10, 10);
}

.qa-message-list .comment {
	  color: rgb(66, 139, 202);
}

/*Home Screen Profile Panel*/
.well {
	margin-top: -20px;
	background-color: #007FBD;
	border: 2px solid #0077B2;
	text-align: center;
	cursor: pointer;
	font-size: 25px;
	padding: 15px;
	border-radius: 0px !important;
}

.well:hover {
	margin-top: -20px;
	background-color: #0077B2;
	border: 2px solid #0077B2;
	text-align: center;
	cursor: pointer;
	font-size: 25px;
	padding: 15px;
	border-radius: 0px !important;
	border-bottom: 2px solid rgba(97, 203, 255, 0.65);
}

/* body { */
/* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
/* font-size: 14px; */
/* line-height: 1.42857143; */
/* color: #fff; */
/* background-color: #F1F1F1; */
/* } */
.bg_blur {
	background-image:
		url('http://data2.whicdn.com/images/139218968/large.jpg');
	height: 245px;
	background-size: cover;
}

.follow_btn {
	text-decoration: none;
	position: absolute;
	left: 35%;
	top: 42.5%;
	width: 35%;
	height: 15%;
	background-color: #007FBE;
	padding: 10px;
	padding-top: 6px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	border: 4px solid #007FBE;
}

.follow_btn:hover {
	text-decoration: none;
	position: absolute;
	left: 35%;
	top: 42.5%;
	width: 35%;
	height: 15%;
	background-color: #007FBE;
	padding: 10px;
	padding-top: 6px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	border: 4px solid rgba(255, 255, 255, 0.8);
}

.header {
	color: #808080;
	margin-left: 10%;
	margin-top: 70px;
}

.picture {
	height: 150px;
	width: 150px;
	position: absolute;
	top: 75px;
	left: -75px;
}

.picture_mob {
	position: absolute;
	width: 35%;
	left: 35%;
	bottom: 70%;
}

.btn-style {
	color: #fff;
	background-color: #007FBE;
	border-color: #adadad;
	width: 33.3%;
}

.btn-style:hover {
	color: #333;
	background-color: #3D5DE0;
	border-color: #adadad;
	width: 33.3%;
}

@media ( max-width : 767px) {
	.header {
		text-align: center;
	}
	.nav {
		margin-top: 30px;
	}
}

/*View Profile Styles*/
.user-row {
	margin-bottom: 14px;
}

.user-row:last-child {
	margin-bottom: 0;
}

.dropdown-user {
	margin: 13px 0;
	padding: 5px;
	height: 100%;
}

.dropdown-user:hover {
	cursor: pointer;
}

.table-user-information>tbody>tr {
	border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
	border-top: 0;
}

.table-user-information>tbody>tr>td {
	border-top: 0;
}

.toppad {
	margin-top: 20px;
}

/*Friend list styles*/
.friends-bar .section-box h2 {
	margin-top: 0px;
}

.friends-bar .section-box h2 a {
	font-size: 15px;
}

.friends-bar .separator {
	padding-right: 5px;
	padding-left: 5px;
}

.friends-bar .section-box hr {
	margin-top: 0;
	margin-bottom: 5px;
	border: 0;
	border-top: 1px solid rgb(199, 199, 199);
}

.friends-bar .well {
	margin-top: 5px;
	background-color: #CDEFFF;
	border: 2px solid #009EEC;
	text-align: left;
	cursor: pointer;
	font-size: 13px;
	padding: 8px;
	border-radius: 8px !important;
	border: 2px solid #009EEC;
}

.friends-bar .well:hover {
	margin-top: 5px;
	background-color: #71D0FF;
	border: 2px solid #009EEC;
	text-align: left;
	cursor: pointer;
	font-size: 13px;
	padding: 8px;
	border-radius: 8px !important;
	border-bottom: 2px solid rgba(97, 203, 255, 0.65);
}

.friends-bar .glyph-user-style {
	font-size: 7rem;
	color: rgb(0, 158, 236);
}

.friends-bar hr {
	margin-right: 5px;
	border-color: rgb(0, 158, 236) !important;
	border-style: dashed !important;
}

.friendsPanelnavbar {
	background-color: #009EEC;
	min-height: 40px
}

.friendsPanelnavbar .friendsPanelFont {
	color: white;
}

.blue_color {
	color: rgb(12, 23, 100);
}
